@model List<StudentManager.Models.Entities.Student>

<h1>Students List</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Subscribed</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => student.Name)</td>
                <td>@Html.DisplayFor(modelItem => student.Email)</td>
                <td>@Html.DisplayFor(modelItem => student.Phone)</td>
                <td>@Html.DisplayFor(modelItem => student.Subscribed)</td>
                <td>
                    <a class="btn btn-primary" asp-controller="Student" asp-action="Edit" asp-route-id=@student.Id>Edit</a>
                    <a class="btn btn-danger" asp-controller="Student" asp-action="Delete" asp-route-id=@student.Id>Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Add" class="btn btn-primary">Create New</a>